version : '2'


services:
    analytics:
      image: madderle/twitter-sentiment-analysis:analysis-2.0
      command: python Analysis.py
      volumes:
        - ./src:/home/ds

      environment:
        - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
        - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
        - REDIS_IP = ${REDIS_IP}
